@font-face {
    font-family: 'polentical_neonregular';
    src: url('../fonts/polentical-neon.regular-webfont.eot');
    src: url('../fonts/polentical-neon.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/polentical-neon.regular-webfont.woff') format('woff'),
         url('../fonts/polentical-neon.regular-webfont.ttf') format('truetype'),
         url('../fonts/polentical-neon.regular-webfont.svg#polentical_neonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #000000;
    overflow: hidden;
    font-weight: 300;
    font-size: 1em;
    font-family: Arial, sans serif;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
	display: none;
    background-size: cover;
    right: 100%;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
	display: none;
	background: url(../images/background.png) no-repeat;
    background-size: cover;
    right: 100%;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.header {
	height: 16%;
	background: url(../images/logo.png) no-repeat #5b2513;	
	background-size: contain;
	background-position: 12% center;
	border: 7px solid #5b2513;
}

.contentForm {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 34%;
}

.contentForm h3{
	margin: 0;
	font-family: 'polentical_neonregular';
	font-size: 34px;
	font-weight: normal;
	letter-spacing: 2px;
}

.contentForm .name, .contentForm .password, .contentForm .input, .contentForm .label {
	float: left;
	width: 100%;
}

.contentForm .label label {
	font-family: 'polentical_neonregular';
	color: #FFFFFF;
	font-size: 22px;
	letter-spacing: 2px;
}

.contentForm input{
	height: 53px;
	border: 1px solid #eeeded;
	border-radius: 10px;
	margin: 0;
	width: 100%;
	outline: none;
	font-size: 20px;
	padding: 0 6px;
}

.contentForm .name, .contentForm .password {
	font-size: 22px;
	margin-top: 10px;
}

.contentForm .password .label {
	width: 30%;
}

.contentForm .forgot {
	width: 70%;
	padding-top: 8px;
	float: right;
}

.contentForm .forgot a {
	margin:0;
	font-size: 14px;
	float: right;
	color: #FFFFFF;
	 text-decoration: none;
}

.contentForm .forgot a:hover {
	 text-decoration: underline;	
}
.contentForm .enterContent {
	width: 100%;
	float: left;
	margin-top: 20px;
}

.contentForm .enterContent .button {
	float: right;
}
.contentForm .button {
	float:right;
	background: #eeeded;
	color: black;
	hover: color:#a23916;
	text-decoration: none;
	font-size: 20px;
	padding: 14px 40px;
	text-transform: uppercase;
	border-radius: 7px;
}

.contentForm .button:hover	{
	color: #a23916;
}

.img-responsive {
	border:none;
	max-width: 100%;	
}

.logged {
	margin: 0;
	height: 100%;
	height: 1243px;
	background: url(../images/logged.jpg) no-repeat center center;
	background-size: cover;
}

.skip {
	position: fixed;
	left: 5%;
	bottom: 6%;
}

.mute {
	position: fixed;
	right: 5%;
	bottom: 6%;
}


.mute a {
	text-transform: uppercase;
	color: #856654;
	text-decoration: none;
}

.skip a {
	text-transform: uppercase;
	color: #856654;
	text-decoration: none;
}

.progressBar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 0%;
	height: 8px;
	background: #856654;
	z-index: 1031;
}

.vjs-error-display, .vjs-control-bar {
	display:none;
}



/* mediaquery */
@media screen and (max-width: 1510px){
	.contentForm {
		width: 26%;
		left: 35%;
	}
}

@media screen and (max-width: 1200px){
	.contentForm {
		width: 30%;
		left: 34%;
	}
}

@media screen and (max-width: 1024px){
	.contentForm {
		width: 33%;
		left: 33%;
	}
}

@media screen and (max-width: 800px){
	.contentForm {
		width: 35%;
		left: 33%;
	}

	.contentForm .name label{
		font-size: 14px;
	}
	.contentForm .password .label label{
		font-size: 14px;
	}
	.contentForm .password .forgot p{
		font-size: 11px;
	}
}
@media screen and (max-width: 585px){
	.contentForm {
		width: 46%;
		left: 24%;
	}
}
@media screen and (max-width: 360px){
	.contentForm {
		width: 60%;
		left: 18%;
	}
	.contentForm .h3{
		font-size: 30px;
	}
	.contentForm .name label{
		font-size: 19px;
	}
}

@media screen and (max-width: 320px){
	.contentForm {
		width: 63%;
	}
}

@media screen and (max-width: 460px){
	.contentForm {
		width: 80%;
		left: 10%;
	}
}

